{% extends 'base.html' %}

{% load static %}

{% block head_title %}
Home
{% endblock head_title %}


{% block content %}

<main class="px-3">
	<div id="carouselExampleIndicators"
		class="carousel slide"
		data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button"
				data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="0"
				class="active"
				aria-current="true"
				aria-label="Slide 1"></button>
			<button type="button"
				data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="1"
				aria-label="Slide 2"></button>
			<button type="button"
				data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="2"
				aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner my-5">
			<div class="carousel-item active">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6 text-start">
						<h2 class="display-1">Lorem, ipsum dolor.</h2>
						<hr>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing
							elit. Commodi, porro.</p>
					</div>
					<div class="col">
						<img src="{% static 'img/image1.jpg' %}"
							class="d-block w-100 rounded-3"
							alt="image1.jpg">
					</div>
				</div>

			</div>

			<div class="carousel-item">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6">
						<img src="{% static 'img/image2.jpg' %}"
							class="d-block w-100"
							alt="image1.jpg">
					</div>
					<div class="col text-start">
						<h2 class="display-1">Lorem, ipsum dolor.</h2>
						<hr>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing
							elit. Commodi, porro.</p>
					</div>
				</div>

			</div>

			<div class="carousel-item">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6 text-start">
						<h2 class="display-1">Lorem, ipsum dolor.</h2>
						<hr>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing
							elit. Commodi, porro.</p>
					</div>
					<div class="col">
						<img src="{% static 'img/image1.jpg' %}"
							class="d-block w-100"
							alt="image1.jpg">
					</div>
				</div>

			</div>

		</div>
		<button class="carousel-control-prev"
			type="button"
			data-bs-target="#carouselExampleIndicators"
			data-bs-slide="prev">
			<span class="carousel-control-prev-icon"
				aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next"
			type="button"
			data-bs-target="#carouselExampleIndicators"
			data-bs-slide="next">
			<span class="carousel-control-next-icon"
				aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

</main>
{% endblock content %}