{% extends 'base.html' %}

{% load static %}

{% block head_title %}
Home
{% endblock head_title %}


{% block content %}

<main class="px-3 mt-5">
	<div id="carouselExampleIndicators"
		class="carousel slide"
		data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button"
				data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="0"
				class="active"
				aria-current="true"
				aria-label="Slide 1"></button>
			<button type="button"
				data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="1"
				aria-label="Slide 2"></button>
			<button type="button"
				data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="2"
				aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner my-5">
			<div class="carousel-item active">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6 text-start">
						<h2 class="">SWING GATE OPENERS</h2>
						<h4 class="text-danger">LINEAR SWING GATE OPERATOR - EON
							SWING GATE ACUATORS</h4>
						<hr>
						<p>EON is the linear swing gate operator of QUIKO
							particularly intended for residential applications.
							Leaves up to 4m can be automated with ease with
							this Gearmotor, which dimensions allow it to be
							installed in areas where limited space is
							available.</p>
<p>
							The actuators are self-locking and can be unlocked
							easily in case of electrical blackout by means of
							the supplied unlocking key. Moreover, the 24V
							version can be operated even in absence of
							electricity by means of the optional backup battery
							unit. Quiko Italy offers inground gate operators in
							this category that are mostly used while renovating
							historic buildings. These inground swing gate
							openers ensure a clean line for the gate to
							operate. The swing gate openers category also
							includes other products like articulated arm gear
							motors that aids in the application of residential
							swinging gates actuators. These gear motors have
							the added advantage of easy installation and can be
							unlocked with ease by means of an apposite key.
							ROTELLO series swing gate actuators are the
							irreversible operators that are primarily used in
							operating swing gates. The linear swing gate
							operators have a temperate design comprising of key
							operated manual release system in case of an
							electricity blackout.
						</p>
						<p>
							Thanks to the sturdiness of materials used during
							production, EON is almost maintenance-free and
							designed to last long.</p>
					</div>
					<div class="col">
						<img src="{% static 'img/EON-X-SPLASH_17.jpg' %}"
							class="d-block w-100 rounded-3"
							alt="image1.jpg">
					</div>
				</div>

			</div>

			<div class="carousel-item">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6">
						<img src="{% static 'img/LUX-PER-SPLASH-PAGE.jpg' %}"
							class="d-block w-100"
							alt="image1.jpg">
					</div>
					<div class="col text-start">
						<h2 class="display-1">Lorem, ipsum dolor.</h2>
						<hr>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing
							elit. Commodi, porro.</p>
					</div>
				</div>

			</div>

			<div class="carousel-item">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6 text-start">
						<h2 class="display-1">Lorem, ipsum dolor.</h2>
						<hr>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing
							elit. Commodi, porro.</p>
					</div>
					<div class="col">
						<img src="{% static 'img/SUB-X-SPLASH_17.jpg' %}"
							class="d-block w-100"
							alt="image1.jpg">
					</div>
				</div>

			</div>

		</div>
		<button class="carousel-control-prev"
			type="button"
			data-bs-target="#carouselExampleIndicators"
			data-bs-slide="prev">
			<span class="carousel-control-prev-icon"
				aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next"
			type="button"
			data-bs-target="#carouselExampleIndicators"
			data-bs-slide="next">
			<span class="carousel-control-next-icon"
				aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

</main>
{% endblock content %}