<header class="cover-container mx-auto w-100 mb-auto fixed-top bg-dark">
  <div>
    <a class="text-decoration-none text-light"
      href="/">
      <h3 class="float-md-start mb-0">kingship</h3>
    </a>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link"
        href="#about">About</a>
      <a class="nav-link"
        href="#products">Products</a>
      <a class="nav-link"
        href="#gallery">Gallery</a>
      <a class="nav-link"
        href="#contact">Contact</a>
    </nav>
  </div>
</header>