{% load static %}
<div id="products" class="container mx-auto my-5">
    <h3 class="display-1 text-start">Products</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div class="col">
            <div class="card h-100 bg-dark border border-light">
                <img src="{% static 'img/EON-X-SPLASH_17.jpg' %}"
                    class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting
                        text below as a natural lead-in to additional content.
                        This content is a little bit longer.</p>
                </div>
                <div class="card-footer border-light">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-dark border border-light">
                <img src="{% static 'img/MOTORE-X-SPLASH2.jpg' %}"
                    class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting
                        text below as a natural lead-in to additional content.
                        This content is a little bit longer.</p>
                </div>
                <div class="card-footer border-light">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-dark border border-light">
                <img src="{% static 'img/SUB-X-SPLASH_17.jpg' %}"
                    class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting
                        text below as a natural lead-in to additional content.
                        This content is a little bit longer.</p>
                </div>
                <div class="card-footer border-light">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-dark border border-light">
                <img src="{% static 'img/LUX-PER-SPLASH-PAGE.jpg' %}"
                    class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting
                        text below as a natural lead-in to additional content.
                        This content is a little bit longer.</p>
                </div>
                <div class="card-footer border-light">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-dark border border-light">
                <img src="{% static 'img/SWINGY1-X-SPLASH.jpg' %}"
                    class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting
                        text below as a natural lead-in to additional content.
                        This content is a little bit longer.</p>
                </div>
                <div class="card-footer border-light">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>